@using NeedBodies.Components.Layout
@inherits LayoutComponentBase


<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent Display="Display.Block.OnDesktop.None.OnMobile">
            <SideMenu CollapseMode="BarCollapseMode.Small" />
        </LayoutSiderContent>
        <LayoutSiderContent Display="Display.None.OnDesktop.Block.OnMobile">
            <SideMenu CollapseMode="BarCollapseMode.Hide" @bind-BarVisible="@MobileBarVisible" />
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutContent>
            <Button Display="Display.None.OnDesktop.Block.OnMobile"
                Clicked="() => MobileBarVisible = !MobileBarVisible">
                <Icon Name="IconName.Bars" />
            </Button>
            @Body
        </LayoutContent>
    </Layout>
</Layout>

@code {
    private bool MobileBarVisible { get; set; } = false;
}