@page "/auth"
@using NeedBodies.Pages.Login

<Div Margin="Margin.IsAuto.OnX" Width="Width.Is75">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom">
        Log in
    </Heading>
    <Form>
        <Fields>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Username
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Password
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="" Role="TextRole.Password" />
                </FieldBody>
            </Field>
        </Fields>
        <Field>
            <Button Color="Color.Primary" Clicked="@LogInAsync">
                Log in
            </Button>
        </Field>
    </Form>
</Div>

<Divider />

<Div Margin="Margin.IsAuto.OnX" Width="Width.Is75">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom">
        Sign up
    </Heading>
    <Form>
        <Fields>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Username
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Email
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="" Role="TextRole.Email" />
                </FieldBody>
            </Field>
        </Fields>
        <Fields>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Password
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="" Role="TextRole.Password" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Confirm Password
                </FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="" Role="TextRole.Password" />
                </FieldBody>
            </Field>
        </Fields>
        <Fields>
            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                <FieldLabel>
                    Position
                </FieldLabel>
                <FieldBody>
                    <Select TValue="string">
                        <SelectItem>Player</SelectItem>
                        <SelectItem>Goalie</SelectItem>
                    </Select>
                </FieldBody>
            </Field>
        </Fields>
        <Field>
            <Button Color="Color.Primary" Clicked="@SignUpAsync">
                Sign up
            </Button>
        </Field>
    </Form>
</Div>