@namespace NeedBodies.Components
@inject NavigationManager navManager

<Div TextAlignment="TextAlignment.Center" Padding="Padding.Is4.FromTop">
    <Heading Size="HeadingSize.Is1">@Title</Heading>
</Div>
<Div TextAlignment="TextAlignment.Center" Padding="Padding.Is4">
    @ChildContent
</Div>
<Div TextAlignment="TextAlignment.Center" Padding="Padding.Is4">
    <Button Color="Color.Primary" Clicked='() => navManager.NavigateTo(To)'>Continue
        <Icon Name="IconName.ArrowRight" />
    </Button>
</Div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string To { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
}