@page "/"
@inject IVersionProvider VersionProvider

<Div Width="Width.Is100" TextAlignment="TextAlignment.Center" Margin="Margin.IsAuto">
    <Heading Size="HeadingSize.Is1">Welcome to Need Bodies</Heading>
</Div>

<Div Width="Width.Is100" TextAlignment="TextAlignment.Center" Margin="Margin.IsAuto">
    <Paragraph>
        Blazorise is a component library built on top of Blazor and CSS frameworks like <Anchor
            To="https://getbootstrap.com/" Target="Target.Blank">Bootstrap</Anchor>, <Anchor
            To="https://tailwindcss.com/" Target="Target.Blank">Tailwind</Anchor>, <Anchor To="https://bulma.io/"
            Target="Target.Blank">Bulma</Anchor>,
        <Anchor To="https://ant.design/" Target="Target.Blank">Ant Design</Anchor>, and <Anchor
            To="http://daemonite.github.io/material/" Target="Target.Blank">Material</Anchor>. It can be used to build
        responsive, single-page web applications.
    </Paragraph>
</Div>

<Div Margin="Margin.Is2.OnMobile.Is5.OnX.OnDesktop">
    <PublicGamesTable />
</Div>