@page "/"
@inject IVersionProvider VersionProvider

<Div Padding="Padding.Is4">
    <Div Width="Width.Is50" TextAlignment="TextAlignment.Center" Margin="Margin.IsAuto">
        <Image Source="logo-base.png" Fluid />
    </Div>
    <Div Width="Width.Is100" TextAlignment="TextAlignment.Center" Margin="Margin.IsAuto">
        <Heading Size="HeadingSize.Is1">Welcome to Need Bodies
        </Heading>
    </Div>

    <Divider Margin="Margin.Is5.OnY" />

    <Div Margin="Margin.Is2.OnMobile.Is5.OnX.OnDesktop">
        <PublicGamesTable />
    </Div>
</Div>
