@namespace NeedBodies.Components
@inject NavigationManager navManager

<Div Margin="Margin.Is5.OnX.OnDesktop">
    <Heading Size="HeadingSize.Is3">Public Games</Heading>
    @if (Games != null)
    {
        <Row>
            @foreach (Data.Game game in Games)
            {
                <PublicGameItem game="@game" />
            }
        </Row>
    }
    </Div>

    @code {

    List<Data.Game>? Games = null;

    protected override async Task OnInitializedAsync()
    {
        Games = await Api.Games.GetPublicGameListAsync();
    }


}