@namespace NeedBodies.Components
@inject NavigationManager navManager

<Div>
    <Heading Size="HeadingSize.Is3">@Title</Heading>
    @if (Games != null)
    {
        <Row>
            @foreach (Data.Game game in Games)
            {
                <PublicGameItem game="@game" Removable="@Removable" Hosted="@Hosted" />
            }
        </Row>
    }
    </Div>

    @code {

    [Parameter] public string Title { get; set; } = "Public Games";
    [Parameter] public List<Data.Game>? Games { get; set; } = null;
    [Parameter] public bool Hosted { get; set; } = false;
    [Parameter] public bool Removable { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (Games == null)
        {
            Games = await Api.Games.GetPublicGameListAsync();
        }
    }


}