<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(NeedBodies.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#2C6FFF",
                Secondary = "#708D81",
                Success = "#20BF55",
                Info = "#344055",
                Warning = "#FEB95F",
                Danger = "#E63946",
                Light = "#E7F6FA",
                Dark = "#131E31",
            },
            BackgroundOptions = new()
            {
                Primary = "#2C6FFF",
                Secondary = "#708D81",
                Success = "#20BF55",
                Info = "#344055",
                Warning = "#FEB95F",
                Danger = "#E63946",
                Light = "#E7F6FA",
                Dark = "#131E31",
            },
            InputOptions = new()
            {
                CheckColor = "#2C6FFF",
            }
        };
}