@namespace NeedBodies.Components

@if (Game != null)
{
    <Row>
    <Lead TextSize="TextSize.ExtraLarge">Players</Lead>
</Row>
    <Row>
        <Paragraph>
            @foreach (var player in Players)
            {
                <Button Background="Background.Transparent">@player.Username</Button>
            }
        </Paragraph>
    </Row>
}

@code {
    [Parameter] public Data.Game? Game { get; set; } = null;

    [Parameter] public List<Auth.User> Players { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (Game != null)
        {
            Players = await Api.Games.GetPlayersInGame(Game);
        }
    }
}