@namespace NeedBodies.Components

@if (Game != null)
{
    <Row>
    <Lead TextSize="TextSize.ExtraLarge">Players</Lead>
</Row>
    <Row>
        <Paragraph>
            @foreach (var player in Players)
            {
                <UserButton User="@player" />
            }
            @foreach (var player in NonUserPlayers)
            {
                <Button Background="Background.Transparent" Disabled>@player.Name</Button>
            }
        </Paragraph>
    </Row>
}

@code {
    [Parameter] public Data.Game? Game { get; set; } = null;

    List<Auth.User> Players = new();
    List<Data.NonUserPlayer> NonUserPlayers = new();

    protected override async Task OnInitializedAsync()
    {
        if (Game != null)
        {
            Players = await Api.Games.GetPlayersInGame(Game);
            NonUserPlayers = await Api.Games.GetNonUserPlayersInGame(Game);
        }
    }
}