@namespace NeedBodies.Components
@using NeedBodies.Auth

@if (Game != null)
{
    <Div Padding="Padding.Is4">
    <Row Background="Background.Light">
        <Lead>@Game.DisplayName</Lead>
        <Lead>@Game.Date.ToString("MMMM dd yyyy")</Lead>
        <Lead>@Game.ArenaName</Lead>
        <Lead>@Game.Visibility</Lead>
    </Row>
</Div>
}

@code {
    [Parameter] public Data.Game? Game { get; set; } = null;
}